<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <title>exercise 5</title>
</head>
<body>
    <div id="exercise">
      <!-- 1) Hook up the button to toggle the display of the two paragraphs. 
        Use both v-if and v-show and inspect the elements to see the difference -->
      <div>
        <p v-if="show">Can you see me ?</p>
        <p v-else> Hi!!</p>
        <template v-if="!show">
          <h1>Hi there!!</h1>
        </template>
        <button @click="show = !show">Click</button>
      </div>
      <hr>
      <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
      <h3>Book list</h3>
      <ul>
        <li v-for="(value, index) in books"> {{ value }} : {{ index }}</li>
      </ul>
      <hr>

      <!-- 3) Print all key-value pairs of the following object: 
        {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. 
        Also print the index of each item. -->
      <ul>
        <div v-for="(value, key, index) in products">{{ key }} : {{ value }} ({{ index }})</div>
      </ul>
      <hr>

      <!-- 4) Print the following object (only the values) 
        and also create a nested loop for the array: 
        {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
      <ul>
        <li v-for="value in tests">
          <template v-if="Array.isArray(value)">
            <div v-for="el in value"> {{ el }}</div>
          </template>
          <template v-else>
            {{ value }}
          </template>
        </li>
      </ul>
    </div>

    <script>
        new Vue({
          el: '#exercise',
          data: {
            show: true,
            books: ['tsubasa', 'conan', 'one piece', 'dragonballZ', 'dragonballGT'],
            products: { title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3' },
            tests: { name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21] } 
        
          }
        });
    </script>
      
</body>
</html>
